.playlist-buttoncontainer {
    margin: 4rem 0 4rem 69rem;
}

.loading-text {
    font-size: 50px;
    width: 400px;
    text-align: center;
    margin: 17rem auto auto auto;
}

.song {
    text-align: center;
    margin-left: 8rem;
    margin-right: 8rem;
}

.song-link {
    text-decoration: none;
    color: black;
    font-family: 'Arial Unicode MS', "Helvetica Neue", Helvetica, sans-serif;
}

.song-link:hover{
    color: #89C076;
    transition: 300ms;
}