.header-container {
    display: inline-flex;
    margin: 2rem 0 0 8rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.name-container {
    width: 100px;
    height: 100%;
    line-height: 30px;
}

h3 {
    font-size: 35px;
}

.logo {
    width: 100px;
    height: 100%;
}